<button mat-raised-button color="primary" (click)="abrirModalAdicionar($event)">Adicionar Item</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>
      {{ column !== 'acao' ? column : 'Ação' }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column !== 'acao'; else acaoTemplate">
        {{ element[column] }}
      </ng-container>
      <ng-template #acaoTemplate>
        <button mat-button color="accent" (click)="abrirModalEditar(element, $event)">
          Editar
        </button>
        <button mat-button color="primary" (click)="abrirModal(element, $event)">
          Ver Detalhes
        </button>
        <button mat-button color="warn" (click)="deletarItem(element)">
          Deletar
        </button>
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>