<h1>Dashboard</h1>

<app-label-data></app-label-data>

<h2>Filtros Select</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['select']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<h2>Filtros Imagens</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['img']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<h2>Filtros Multi Select</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['multiselect']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<h2>Filtros Checkout</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['chk']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<h2>Filtros Button set</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['buttonset']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<h2>Filtros Button</h2>
<div class="filters-container">
  <app-filtros
    *ngFor="let filtro of filtrosPorTipo['btn']; trackBy: trackFiltro"
    [ctrls]="filtro">
  </app-filtros>
</div>

<div *ngFor="let tabela of tabelasProcessadas">

  <h2>{{ tabela.titulo }}</h2>

  <app-tabela 
    [grid]="tabela.grid"
    [displayedColumns]="tabela.displayedColumns"
    [childCols] = "tabela.childCols">
  </app-tabela>

</div>

<!-- 🔥 Você pode colocar qualquer coisa aqui -->
<app-grafico></app-grafico>

