.cadastro-component {
  max-width: 78%;
  min-height: 47%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 68px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    mat-card-header {
      margin-bottom: 24px;

      mat-card-title {
        font-size: 32px;
        font-weight: 400;
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    mat-card-actions {
      display: flex;
      flex-direction: column;
      align-items: normal;

      button {
        margin: 0 8px;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }

    a {
      cursor: pointer;

      &:active {
        color: #551A8B;
      }
    }
  }
}


.Tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-table {
  width: 100%;
  max-width: 700px;     /* Limita a largura m치xima em telas grandes */
  min-width: 300px;       /* Impede que fique pequeno demais */
  margin: 0 auto;         /* Centraliza horizontalmente */
  overflow-x: auto;       /* Adiciona rolagem horizontal se necess치rio */
}

@media (min-width: 1200px){
.mat-mdc-table {
  width: 50%;
  max-width: 700px;     /* Limita a largura m치xima em telas grandes */
  min-width: 320px;       /* Impede que fique pequeno demais */
  margin: 0 auto;         /* Centraliza horizontalmente */
  overflow-x: auto;       /* Adiciona rolagem horizontal se necess치rio */
}
}

@media (min-width: 660px) {
 .cadastro-component {
  max-width: 50%;

}
}
@media (min-width: 900px) {
 .cadastro-component {
  max-width: 30%;
 }
}