<!-- <table class="tblMsDropD"> -->

  <!-- label e select na mesma linha -->
  <!-- <tr class="trMsDropD" *ngIf="ctrl.labelbyrow === false">
    <td class="tdMsDropDLabelCell" [attr.translate]="ctrl.caption">
      {{ ctrl.caption }}
    </td>

    <td class="tdMsDropDCtrlCell">
      <select 
        class="selectCss"
        [id]="'select_' + ctrl.id"
        [name]="ctrl.name"
        [disabled]="ctrl.disabled"
        [attr.disabledctrls]="ctrl.disabledctrls"
        [attr.checkstatus]="ctrl.checkstatus"
        (change)="onChange($event)"
          [(ngModel)]="valorPadrao"

   
      >
        <option 
          *ngFor="let item of ctrl.selectItems; trackBy: trackByIndex"
           [ngValue]="item.value"
          [attr.translate]="item.displaytext"

        >
          {{ item.displaytext }}
        </option>
      </select>
    </td>
  </tr> -->

  <!-- [selected]="item.selected" -->
  <!-- label e select em linhas separadas -->
  <!-- <ng-container *ngIf="ctrl.labelbyrow !== false">
      
    <tr class="trMsDropD">
      <td class="tdMsDropDLabelCell" [attr.translate]="ctrl.caption">
        {{ ctrl.caption }}
      </td>
    </tr>

    <tr class="trMsDropD">
      <td class="tdMsDropDCtrlCell">
        <select 
          class="selectCss"
          [id]="'select_' + ctrl.id"
          [name]="ctrl.name"
          [disabled]="ctrl.disabled"
          [attr.disabledctrls]="ctrl.disabledctrls"
          [attr.checkstatus]="ctrl.checkstatus"
          (change)="onChange($event)"
          [(ngModel)]="valorPadrao"
        >
          <option 
            *ngFor="let item of ctrl.selectItems; trackBy: trackByIndex"
            [value]="item.value"
            [attr.translate]="item.displaytext"
       
          >
            {{ item.displaytext }}
          </option>
        </select>
      </td>
    </tr>

  </ng-container>

</table> -->

<div appCombobox #cb="appCombobox"   
  tabindex="0"
  role="aria-combobox"
  aria-haspopup="listbox"
  class="material-select"
  >

  <!-- TRIGGER / INPUT -->
  <div #origin class="select">

    <span class="selected-label-text">
      {{ displayValue() }}
    </span>

    <!-- 🔥 INPUT OBRIGATÓRIO -->
    <input
      appComboboxInput
      type="text"
      class="combobox-input"
      aria-label="Select labels"
      [attr.aria-expanded]="cb.expanded()"
      readonly />

    <span class="example-arrow">▼</span>
  </div>

  <!-- OVERLAY -->
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="cb.expanded()"
    [cdkConnectedOverlayHasBackdrop]="false"
    [cdkConnectedOverlayWidth]="origin.offsetWidth">

    <div class="example-popup-container">
      <div appListbox [multi]="false"
       [values]="selectedValues()"
       (valuesChange)="selectedValues.set($event)"
       (valuesChange)="onValuesChange($event)"
       role="listbox"
       >

        @for (item of filteredItems; track item.displaytext) {
          <div appOption [optionValue]="item" [optionLabel]="item.displaytext">
              <!-- <span
                class="example-option-icon material-symbols-outlined"
                translate="no"
                aria-hidden="true"
                >{{ label.icon }}</span
              > -->
              <span class="example-option-text">{{ item.displaytext }}</span>
              <span
                class="example-option-check material-symbols-outlined"
                translate="no"
                aria-hidden="true"
                >check</span>
          
      </div>
    }
    </div>
    </div>
  </ng-template>

</div>



