<div id="meuFiltroContainer"></div>

<table class="tblFiltersContainer">
  <!-- Caso controlsbyrow = true -->
  <ng-container *ngIf="ctrls?.controlsbyrow; else verticalMode">
    <tr [id]="ctrls?.id + '_' + indAux">


      <!-- <tr *ngFor="let row of ctrls.children | slice:0; let rowIndex = index"> -->
      <td *ngFor="let ctrl of ctrls?.children; let i = index;">
        <!-- <td *ngFor="let ctrl of ctrls.children | slice:(rowIndex * ctrls.maxctrlsbygroup):(rowIndex * ctrls.maxctrlsbygroup + ctrls.maxctrlsbygroup)"> -->

        <!-- Switch para o tipo -->
        <app-filter-item 
            [ctrl]="ctrl!"
            [ctrls]="ctrls"
            [i]="i"
            [controlsbyrow]="ctrls?.controlsbyrow">
        </app-filter-item>

  </td>
  </tr>

  </ng-container>

  <!-- Caso controlsbyrow = false -->
  <ng-template #verticalMode>
    <tr *ngFor="let ctrl of ctrls?.children">
      <td>

        <app-filter-item 
            [ctrl]="ctrl!"
            [ctrls]="ctrls"
            [controlsbyrow]="ctrls?.controlsbyrow"
            >
        </app-filter-item>

      </td>
    </tr>
  </ng-template>
</table>