<div id="meuFiltroContainer"></div>

<ng-container *ngIf="ctrls?.controlsbyrow; else verticalMode">
  <div *ngFor="let group of groupedChildren" class="filter-type-block">
    <div class="filter-type-title">{{ getTypeLabel(group.type) }}</div>

    <table class="tblFiltersContainer">
      <tr [id]="ctrls?.id + '_' + indAux">
        <td *ngFor="let ctrl of group.items; let i = index;">
          <div class="filter-card">
            <app-filter-item
              [ctrl]="ctrl!"
              [ctrls]="ctrls"
              [i]="i"
              [controlsbyrow]="ctrls?.controlsbyrow">
            </app-filter-item>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #verticalMode>
  <div *ngFor="let group of groupedChildren" class="filter-type-block">
    <div class="filter-type-title">{{ getTypeLabel(group.type) }}</div>

    <table class="tblFiltersContainer">
      <tr *ngFor="let ctrl of group.items">
        <td>
          <div class="filter-card">
            <app-filter-item
              [ctrl]="ctrl!"
              [ctrls]="ctrls"
              [controlsbyrow]="ctrls?.controlsbyrow">
            </app-filter-item>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ng-template>