<div class="sandwich-menu"  (click)="toggleMenu()">
     <mat-icon>calendar_today</mat-icon>
    </div>
<!-- <div class="sandwich-menu"  (click)="toggleMenu()">
        &#9776;
    </div> -->
<section class="calendario"  *ngIf="isMenuOpen">
  <div class="example-label">Calendário</div>
  <section class="Sessao-Botoes">
    <div class="example-button-row">
      <button matButton="elevated" *ngIf="this.calendarBarModel.dados.calendarBar.day.visible" type="button"
        (click)="setCalendarMode('day')" [disabled]="calendarMode === 'day' && !intervaloAtivo">
        Dia
      </button>

      <button matButton="elevated" *ngIf="this.calendarBarModel.dados.calendarBar.month.visible" type="button"
        (click)="setCalendarMode('month')" [disabled]="calendarMode === 'month' && !intervaloAtivo">
        Mês
      </button>

      <button matButton="elevated" *ngIf="this.calendarBarModel.dados.calendarBar.year.visible" type="button"
        (click)="setCalendarMode('year')" [disabled]="calendarMode === 'year' && !intervaloAtivo">
        Ano
      </button>

      <button matButton="elevated" *ngIf="this.calendarBarModel.dados.calendarBar.fiscalYear.visible" type="button"
        (click)="setCalendarMode('fiscalYear')" [disabled]="calendarMode === 'fiscalYear' && !intervaloAtivo">
        Ano Fiscal
      </button>

      <button matButton="elevated" type="button" (click)="MudarTipoFormulario()" [disabled]="intervaloAtivo">
        Intervalo</button>
    </div>
  </section>
  <section>
    <form class="form-Calendar" *ngIf="!intervaloAtivo" [formGroup]="form">
      <!-- Input para dia -->
      <div class= "day" *ngIf="calendarMode === 'day'">

        <app-input-data [form]="form"></app-input-data>

      </div>

      <!-- Input para mês -->
      <div class= "month" *ngIf="calendarMode === 'month'">

        <app-input-mes [form]="form"></app-input-mes>

      </div>

      <!-- Input para ano -->
      <div class= "year"  *ngIf="calendarMode === 'year'">

        <app-seletor-ano [form]="form" [calendarMode]="calendarMode" [label]="'Selecione o Ano:'"></app-seletor-ano>

      </div>

      <!-- Input para ano fiscal -->
      <div class= "fiscalYear" *ngIf="calendarMode === 'fiscalYear'">

        <app-seletor-ano [form]="form" [calendarMode]="calendarMode" [label]="'Ano Fiscal:'"> </app-seletor-ano>

      </div>

    </form>
  </section>


  <section>
    <form class="intervalo-form" *ngIf="intervaloAtivo" [formGroup]="intervaloForm" style=" display:flex">

      <label class="example-label">Unidade:</label>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="unidade">
          <mat-option value="dias">Dias</mat-option>
          <mat-option value="meses">Meses</mat-option>
          <mat-option value="anos">Anos</mat-option>
        </mat-select>
      </mat-form-field>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'dias'">

        <app-data-intervalo class="inputs-datas" [intervaloForm]="intervaloForm"></app-data-intervalo>

      </div>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'meses'">

        <app-input-mes-ano-intervalo [intervaloForm]="intervaloForm"></app-input-mes-ano-intervalo>

      </div>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'anos'">

        <app-seletor-ano-intervalo [intervaloForm]="intervaloForm"></app-seletor-ano-intervalo>

      </div>

    </form>

  </section>
</section>
