<section class="calendario" *ngIf="this.calendarBarModelService.dados as dados">
  <div class="dialog-header">
    <button mat-icon-button (click)="fecharDialog()" aria-label="Fechar" matTooltip="Fechar">
      <mat-icon class="icon-theme">close</mat-icon>
    </button>
  </div>
  <div class="example-label">Calendário</div>

  <section class="Sessao-Botoes">
    <div class="example-button-row">
      <button matButton="elevated" *ngIf="dados.calendarBar.day.visible" type="button"
        (click)="setCalendarMode('day')" [disabled]="calendarMode === 'day' && !intervaloAtivo">
        Dia
      </button>

      <button matButton="elevated" *ngIf="dados.calendarBar.month.visible" type="button"
        (click)="setCalendarMode('month')" [disabled]="calendarMode === 'month' && !intervaloAtivo">
        Mês
      </button>

      <button matButton="elevated" *ngIf="dados.calendarBar.year.visible" type="button"
        (click)="setCalendarMode('year')" [disabled]="calendarMode === 'year' && !intervaloAtivo">
        Ano
      </button>

      <button matButton="elevated" *ngIf="dados.calendarBar.fiscalYear.visible" type="button"
        (click)="setCalendarMode('fiscalYear')" [disabled]="calendarMode === 'fiscalYear' && !intervaloAtivo">
        Ano Fiscal
      </button>

      <button matButton="elevated" type="button" (click)="MudarTipoFormulario()" [disabled]="intervaloAtivo">
        Intervalo</button>
    </div>
  </section>
  <section>
    <form class="form-Calendar" *ngIf="form && !intervaloAtivo" [formGroup]="form">
      <!-- Input para dia -->
      <div class= "day" *ngIf="calendarMode === 'day'">

        <app-input-data [form]="form"></app-input-data>

      </div>

      <!-- Input para mês -->
      <div class= "month" *ngIf="calendarMode === 'month'">

        <app-input-mes [form]="form"></app-input-mes>

      </div>

      <!-- Input para ano -->
      <div class= "year"  *ngIf="calendarMode === 'year'">

        <app-seletor-ano [form]="form" [calendarMode]="calendarMode" [label]="'Selecione o Ano:'"></app-seletor-ano>

      </div>

      <!-- Input para ano fiscal -->
      <div class= "fiscalYear" *ngIf="calendarMode === 'fiscalYear'">

        <app-seletor-ano [form]="form" [calendarMode]="calendarMode" [label]="'Ano Fiscal:'"> </app-seletor-ano>

      </div>

    </form>
  </section>


  <section>
    <form class="intervalo-form" *ngIf="intervaloForm && intervaloAtivo" [formGroup]="intervaloForm" style=" display:flex">


      <mat-form-field class="inputUnidade"
      >
        <mat-label>Unidade:</mat-label>
        <mat-select formControlName="unidade"
             [value]="calendarMode"
       (selectionChange)="onCalendarModeChange($event.value)">
          <mat-option value="day">Dias</mat-option>
          <mat-option value="month">Meses</mat-option>
          <mat-option value="year">Anos</mat-option>
          <mat-option value="fiscalYear">Ano fiscal</mat-option>
        </mat-select>
      </mat-form-field>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'day'">

        <app-data-intervalo class="inputs-datas" [intervaloForm]="intervaloForm"></app-data-intervalo>

      </div>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'month'">

        <app-input-mes-ano-intervalo [intervaloForm]="intervaloForm"></app-input-mes-ano-intervalo>

      </div>

      <div  *ngIf="intervaloForm.get('unidade')?.value === 'year'">

        <app-seletor-ano-intervalo [intervaloForm]="intervaloForm"></app-seletor-ano-intervalo>

      </div>
      <div  *ngIf="intervaloForm.get('unidade')?.value === 'fiscalYear'">
       <app-seletor-ano-fiscal-intervalo [intervaloForm]="intervaloForm"></app-seletor-ano-fiscal-intervalo>
      </div>
    </form>

  </section>
</section>